// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@import "mixin";
@import "variables";

body {
  @include sitefont;
}

ul,
li {
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0;
}

a {
  @include transition;
  &:hover {
    text-decoration: none !important;
  }
}

.fblue {
  color: $blue;
}

.fwhite {
  color: $white;
}

.flight {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.fpink {
  color: #e0446d;
}

.bluebtnlg {
  color: lighten($blue, 10%);
  font-weight: bold;
}

.fbold {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.fgray {
  color: lighten($black, 50%);
}

.home-banner {
  background: $blue;
  height: 100vh;
  @include verticalcenter;
  position: relative;

  @include mob {
    height: auto;
    padding-top: 80px;
  }

  @include mlscape {
    height: auto;
    padding-top: 80px;
  }

  &:before {
    content: "";
    background: url(../img/banner-leftsky.svg) no-repeat 0 0;
    width: 450px;
    height: 200px;
    @include positionall(inherit, inherit, -4px, -120px);

    @include mob {
      display: none;
    }
    @include mlscape {
      display: none;
    }
  }
  &:after {
    content: "";
    background: url(../img/banner-rightsky.svg) no-repeat 0 0;
    width: 285px;
    height: 290px;
    @include positionall(0, 0, inherit, inherit);

    @include mob {
      display: none;
    }
    @include mlscape {
      display: none;
    }
  }

  h1 {
    font-size: clamp(22px, 3vw, 45px);
    @extend .fbold;
    color: $white;
  }
  h1,
  h2 {
    @extend .fbold;
  }
  p {
    font-size: clamp(14px, 1vw, 17px);
    color: $white;
  }
}

//banner ends

.swiper-container {
  width: 100%;
  height: 100%;
}

.cust-container {
  width: 85%;
  margin: 0 auto;
}

.sticked {
  background: $blue;
  @include shadowbot;
  .navbar-brand {
    img {
      width: 150px;
    }
  }
}

//header
header {
  .navbar-brand {
    background: $white;
    padding: 10px 20px;
    border-radius: 50px;
    img {
      width: 170px;
      @include transition;
    }
  }
}

.banner-signup {
  display: flex;
  height: 65px;

  @include mob {
    display: block;
    height: auto;
  }
  .banner-input {
    border: none;
    background: white;
    width: 75%;
    border-radius: 0;
    padding-left: 20px;

    @include mob {
      width: 100%;
      height: 50px;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
  .banner-btn {
    background: darken($blue, 10%);
    border-radius: 0;
    border: none;
    color: $white;
    @extend .fbold;
    padding: 0 15px;
    @include transition;

    @include mob {
      width: 100%;
      height: 50px;
      text-align: left;
    }

    &:hover {
      background: lighten($blue, 5%);
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.bluebtn {
  background: $blue;
  padding: 5px 40px;
  border-radius: 20px;
  color: $white;
  @include transition;
  @extend .fbold;
  border: 1px solid transparent;
  display: inline-block;
  font-size: $fsize - 2;

  &:hover {
    background: $white;
    color: $blue;
    border: 1px solid $blue;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//test header
.test-header {
  background: $blue;
  padding: 15px 50px;

  .navbar-brand {
    img {
      width: 155px;
    }
  }

  p {
    color: $white;
    padding: 7px 0 0 25px;

    @include mob {
      padding: 0;
    }
  }
}

.intro-section {
  padding: 10px 0;

  article {
    h2 {
      font-size: clamp(25px, 3vw, 35px);
      color: $blue;
      @extend .fbold;
      letter-spacing: -2px;
    }
    p {
      font-size: $fsize + 1;
    }
  }
}

.section-title {
  h3 {
    font-size: $fsize * 2;
    @extend .fbold;
    color: $blue;
    letter-spacing: -2px;
  }
}

.how-it-works {
  background: lighten($blue, 65%);
  padding: 75px 0;

  .swiper-slide {
    position: relative;
    height: 390px;

    @include mob {
      height: auto;
    }
    @include mlscape {
      height: auto;
    }

    article {
      background: rgba($black, 0.8);
      padding: 15px;
      @include positionall(inherit, 0, 0, 0);
      text-align: center;

      p {
        color: $white;
        margin: 0;
        padding: 0;
      }
    }
  }
  .swiper-pagination-bullets {
    bottom: 40px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 42%;
  }
}

.examway {
  padding: 75px 0;
}

.clients-home {
  padding: 0 0 75px 0;

  .client-logos {
    justify-content: center;
    .swiper-slide {
      height: 320px;
      @include verticalcenter;

      &:nth-child(even) {
        background: lighten($blue, 65%);
      }
      &:nth-child(odd) {
        border: 1px solid #eee;
      }
    }
  }
}

.planning-section {
  padding: 70px 0;
}

//footer
footer {
  @include lbluegradient;
  min-height: 50px;
  padding: 50px 0;

  .nav-item {
    .nav-link {
      color: $black;

      &:hover {
        color: $blue;
      }
    }
  }
  .footer-brand {
    margin: 25px 0;
    display: inline-block;
    img {
      width: 200px;
    }
  }
}

.form-control {
  font-size: $fsize - 1;
}

.sign {
  font-size: $fsize - 2;
  .container {
    .row {
      height: 100vh;
      @include verticalcenter;
    }
    .signbrand {
      text-align: center;
      width: 200px;
      margin: 0 auto;
      display: block;
      img {
        width: 190px;
      }
    }
  }
  .sign-section {
    width: 350px;
    min-height: 50vh;
    background: $white;
    @include shadowbot;
    margin: 20px auto;
    @include verticalcenter;
    text-align: left;
    padding: 20px;

    @include mob {
      width: 100%;
    }
  }

  .form-sign {
    width: 100%;

    .form-group {
      width: 100%;
      .form-control {
        border-radius: 0;
        width: 100%;
        font-size: $fsize - 2;
        height: 45px;
      }
    }
  }

  .social-login {
    width: 100%;
    a {
      border: 1px solid #eee;
      padding: 7px;
      display: block;
      width: 100%;
      text-align: center;
      color: $black;
      margin-bottom: 5px;
      font-size: $fsize - 1;
      @include transition;

      &:hover {
        background: $blue;
        color: $white;
      }
    }
  }
}

.step-wizard {
  padding: 25px 0;

  .progress {
    background: rgba($black, 0.02);
    padding: 5px;
    height: 20px;

    p.qnumber {
      color: $black;
      font-size: $fsize - 1;
      padding: 5px 10px 0 0;
      width: 5%;
    }
    .progress-bar {
      width: 70%;
    }
    .time-test {
      font-size: $fsize - 1;
      width: 25%;
    }
  }

  .timeheader {
    .timekeys {
      .icomoon {
        font-size: $fsize;
        color: rgba($black, 0.25);
      }
    }
  }
  .navbar {
    visibility: hidden;
  }

  .pager {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0;

    @include mob {
      display: block;
      margin-top: 20px;
    }

    li {
      @include mob {
        display: inline-block;
        padding: 6px;
      }
      a {
        color: $black;
        padding: 5px 12px;
        border: 1px solid rgba($black, 0.25);
        border-radius: 20px;
        @include transition;

        &:hover {
          background: $blue;
          color: $white;
          border: 1px solid $blue;
        }
      }
    }
  }
  .tab-content {
    padding: 25px 0;

    .qandans {
      .qnumberinquestion {
        color: rgba($black, 0.5);
      }
      .question {
        font-size: $fsize;
        @extend .fbold;
      }
    }
  }
}
.reattempresults {
  li {
    opacity: 1 !important;
  }
}
.options-results {
  padding: 0;
  margin: 0;
  font-size: $fsize - 1;
  li {
    border: 1px solid rgba($black, 0.1);
    padding: 10px;
    border-radius: 3px;
    background: rgba($black, 0.008);
    display: flex;
    cursor: inherit;
    @include transition;
    margin: 5px 0;
    opacity: 0.5;

    input {
      margin-right: 10px;
      margin-top: 4px;
    }
    span {
      font-size: $fsize - 1;
    }
  }

  .correct-opt {
    background: rgba($green, 0.2);
    opacity: 0.6;
    position: relative;
    cursor: inherit;

    &:hover {
      background: rgba($green, 0.2);
      opacity: 0.6;
      position: relative;
      cursor: inherit;
    }

    .req-opt {
      @include positionall(2px, 10px, inherit, inherit);
      @extend .fbold;
      font-size: $fsize - 3;
    }
    .ans-write {
      color: rgba($green, 0.6);
    }
  }

  .wrong-opt {
    background: rgba($red, 0.2);
    opacity: 0.6;
    position: relative;
    cursor: inherit;

    &:hover {
      background: rgba($red, 0.2);
      opacity: 0.6;
      position: relative;
      cursor: inherit;
    }

    .req-opt {
      @include positionall(2px, 10px, inherit, inherit);
      @extend .fbold;
      font-size: $fsize - 3;
    }
    .ans-write {
      color: rgba($red, 0.6);
    }
  }
}

.options {
  padding: 0;
  margin: 0;
  font-size: $fsize - 1;
  li {
    border: 1px solid rgba($black, 0.1);
    padding: 10px;
    border-radius: 3px;
    background: rgba($black, 0.008);
    display: flex;
    cursor: pointer;
    @include transition;
    margin: 5px 0;

    &:hover {
      background: rgba($black, 0.08);
    }

    input {
      margin-right: 10px;
      margin-top: 4px;
    }
    span {
      font-size: $fsize - 1;
    }
  }
}

.select-option {
  background: rgba($black, 0.05) !important;
}

.queblock {
  padding-top: 50px;
}

.version-section {
  margin-bottom: 15px;

  .panel-content {
    background: $white;
    padding: 15px;
  }
}

.spans-list {
  span {
    font-size: $fsize - 3;
    color: rgba($black, 0.7);

    &:after {
      content: "|";
      padding: 0 8px;
      color: rgba($black, 0.6);
    }

    &:last-child {
      &:after {
        content: "";
        padding: 0;
      }
    }
  }
}

//accordion styles
.accord {
  padding: 20px 0;

  h5 {
    color: #191919;
    font-size: $fsize;
    padding: 15px;
  }
  h1 {
    border-bottom: 1px solid #ececec;
    font-weight: 300;
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: center;
  }
  h1 span {
    display: block;
    font-size: 0.5em;
  }
  a {
    border-bottom: 1px solid #ec407a;
    color: #607d8b;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #ec407a;
    border-bottom: none;
  }

  .intro {
    font-size: 1.25em;
  }
  .js .panel-title {
    margin: 0;
  }
  .panel-title a {
    border-bottom: none;
    color: #292929;
    display: block;
    padding: 1em 0;
    position: relative;
    text-decoration: none;
    -webkit-transition: color 200ms ease 0s;
    -moz-transition: color 200ms ease 0s;
    transition: color 200ms ease 0s;
    width: 100%;
  }
  .panel-title a .icon {
    color: #9e9e9e;
    position: absolute;
    right: 0;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    top: 10px;
    font-size: 20px;
  }
  .panel-title a:hover,
  .panel-title a:focus {
    color: #37474f;
  }
  .panel-title a:hover .icon,
  .panel-title a:focus .icon {
    color: #ec407a;
  }
  .panel-title a.active {
    color: #37474f;
  }
  .panel-title a.active .icon {
    color: #ec407a;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .js .accordion {
    border-bottom: 1px solid #ececec;
    margin: 2em 0;
  }
  .accordion .panel-title a {
    border-top: 1px solid lighten($black, 75%);
  }
  [id^="panel-"] {
    padding-bottom: 1em;
  }
}

//accordion styles ends

.text-reviewaccordion {
  .panel-title {
    a {
      display: flex;
      justify-content: space-around;
      font-size: $fsize - 1;

      @include mob {
        display: inline-block;
        padding: 10px;
      }
    }
  }
}

.canvasjs-chart-credit {
  display: none;
}

.brd_link {
  color: $black;
  padding: 5px 12px;
  border: 1px solid rgba($black, 0.25);
  @include transition;
  border-bottom: none;

  &:hover {
    background: $blue;
    color: $white !important;
    border: 1px solid $blue;
  }
}

small {
  font-size: $fsize - 3 !important;
}

.results-block {
  @include shadowbot;
  padding: 25px;
}

.user-screen {
  background: #f9fcfe;
  .sb-topnav {
    background: $white;

    .dropdown-menu-right {
      @include mob {
        right: 20px;
      }
    }

    .navbar-brand {
      img {
        width: 160px;

        @include mob {
          width: 130px;
        }
      }
    }

    .navbar-nav {
      a.nav-link {
        color: $black;

        &:hover {
          color: $blue;
        }
      }
    }

    .dropdown-item {
      font-size: $fsize - 2;

      &:hover {
        background: $blue;
        color: $white !important;
      }
    }
  }
  .sb-sidenav-footer {
    background: $blue;
  }
  .sb-sidenav-menu {
    .nav-link {
      color: $white;
      border-bottom: none;
    }
  }

  .user-right {
    .breadcrumb {
      background: none;

      li {
        a {
          color: $black;
        }
      }
    }
  }

  .form-group {
    margin: 10px 0;
    label {
      margin-bottom: 0;
      font-size: $fsize - 1;
    }
    .form-control {
      height: 40px;
      border-radius: 0;
      font-size: $fsize - 1;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.testItemlbg {
  background: #f2f9ff;
}

::placeholder {
  font-size: $fsize - 2;
}

.freetests {
  .swiper-pagination {
    bottom: 50px !important;
  }

  .card {
    margin: 14px 0;
    @include transition;
    border: 1px solid lighten($black, 75%) !important;
    min-height: 375px;
    max-height: 375px;

    .label {
      font-size: $fsize - 4;
      color: $white;
      border-radius: 10px;
      padding: 3px 10px;
    }

    .label-primary {
      background: #5cb85c;
    }
    .label-info {
      background: #f0ad4e;
    }

    .h6 {
      padding-top: 5px;
    }

    &:hover {
      @include shadowbot;
      border: 1px solid transparent;
    }
  }
  .card-footer {
    background: none;
    @include verticalcenter;
    border: none;
    a.brdlink {
      @extend .bluebtn;
      width: 100%;
      color: $black;
      text-align: center;
      color: $white;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.test-item {
  @include transition;
  &:hover {
    @include shadowbot;
    border: none;
  }
}

.rowp {
  border-bottom: 1px dotted lighten($black, 50%);
  padding: 2px 0;
  margin-bottom: 7px;
  font-size: $fsize - 2;
}

//job col
.job-col {
  border: 1px solid lighten($black, 90%);
  padding: 20px;
  font-size: $fsize - 1;
  margin-bottom: 20px;
  min-height: 220px;
  background: $white;

  .brand {
    img {
      height: 55px;
    }
  }

  &:hover {
    @include shadowbot;
  }

  h2 {
    font-size: $fsize + 2;
    margin: 0;
    @extend .fbold;
    padding: 0;

    a {
      color: $black;

      &:hover {
        color: $blue;
      }
    }
  }

  small {
    color: lighten($black, 50%);
  }

  .headin {
    margin: 0 auto;
  }

  .nav {
    padding: 15px 0;

    a {
      padding-right: 10px;
    }

    .icomoon {
      font-size: $fsize;
    }
  }

  .salary {
    padding: 15px 0 0 0;
    // border-top: 1px solid lighten($black, 90%);
    margin: 0;
  }
}

//jobn col ends

.dataTables_filter {
  float: right;
}

.dataTables_wrapper {
  .table {
    thead {
      background: $blue;
      color: $white;
    }
  }
  .pagination {
    float: right;
  }
}

.actions-icons {
  a {
    padding: 5px;
    display: inline-block;

    &:hover {
      .icomoon {
        color: $blue;
      }
    }

    .icomoon {
      font-size: $fsize + 3;
      color: $black;
    }
  }
}

.sm-thumb {
  width: 75px;
  height: 75px;
  @include objectfitcover;
  border-radius: 50%;
}

.exam-View {
  padding: 20px;
  border: 1px solid #ccc;
}

.list-items {
  li {
    padding-bottom: 10px;
    position: relative;

    &:before {
      content: "";
      width: 7px;
      height: 7px;
      background: $blue;
      border-radius: 50%;
      @include positionall(10px, inherit, inherit, -10px);
    }
  }
}

.submissionRow {
  background: $white;
  padding: 20px;
}

.form-check {
  input[type="checkbox"] {
    margin-top: 8px;
  }
}

.form-check {
  input[type="radio"] {
    margin-top: 8px;
  }
}

.whitebg {
  background: $white;
}

.dataTables_wrapper {
  background: $white;
  padding: 15px;
}

.marksTable {
  .sticky-top {
    top: 60px;
  }
}

.table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

.subPage {
  min-height: 600px;

  .subpageHeader {
    min-height: 350px;
    background: $blue;
    @include verticalcenter;

    @include mob {
      min-height: 200px;
    }

    h1 {
      color: $white;
      @extend .fbold;

      @include mob {
        padding-top: 50px;
        font-size: 25px;
      }
    }
    p {
      color: $white;

      @include mob {
        display: none;
      }
    }
  }

  .mainPagae {
    padding: 25px 0;
  }
}

.pricingTable {
  thead {
    @include bluegradient;
    min-height: 350px;
    color: $white;
    text-align: center;

    th {
      border: none;
      width: 25%;
      vertical-align: middle;
    }

    .pricingHeaderCol {
      width: 100%;
      padding: 75px 0;
      h2 {
        font-size: $fsize * 2 - 5;
        color: $white;
        @extend .fbold;
      }
      h3 {
        font-size: $fsize + 5;
        @extend .fbold;
      }
      .bluebtnlg {
        border: 1px solid $white;
        padding: 12px 25px;
        background: $white;
        border-radius: 5px;
        display: inline-block;
        margin-top: 65px;
        text-transform: uppercase;

        &:hover {
          background: $blue;
          color: $white;
          border: 1px solid $blue;
        }
      }
    }
  }
}

.rowListGroup {
  .list-group {
    min-height: 300px;

    li.list-group-item {
      text-align: center;
    }
  }
}

.pricintTBody {
  td {
    text-align: center;
    border: 1px solid lightblue;
  }
}

.rtContact {
  background: $blue;
  min-height: 500px;
  padding: 30px;

  @include mob {
    min-height: auto;
    margin-top: 20px;
  }

  .table {
    color: $white;
  }
}

//table second design scss

.pricing-table-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.6em;
  color: #fff;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table-title a {
  font-size: 0.6em;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}
/** ========================
 * Contenedor
 ============================*/

.pricing-table {
  margin: 0 10px;
  text-align: center;
  width: 250px;
  float: left;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;

  &:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }
  .pricing-title {
    color: $white;
    background: $blue;
    padding: 20px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  }
  .price {
    background: $black;
    font-size: 1.3em;
    font-weight: 700;
    padding: 20px 0;
    color: $white;

    sup {
      font-size: 0.6em;
      position: relative;
      left: 5px;
      top: 0;
    }
  }
  .table-list {
    background: #fff;
    color: #403d3a;
    padding: 0;
    min-height: 210px;

    li {
      font-size: 1em;
      padding: 12px 8px;

      span {
        font-weight: 400;
      }
    }
  }
}

.table-list li:nth-child(2n) {
  background: #f0f0f0;
}

.table-buy {
  background: #fff;
  padding: 15px;
  text-align: center;
}

.table-buy p {
  float: left;
  color: #37353a;
  font-weight: 700;
  font-size: 2.4em;
}

.table-buy p sup {
  font-size: 0.5em;
  position: relative;
  left: 5px;
}

.table-buy .pricing-action {
  float: right;
  color: #fff;
  background: #e95846;
  padding: 10px 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 1.4em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
  background: #cf4f3e;
}

.recommended .table-buy .pricing-action:hover {
  background: #228799;
}

/** ================
 * Responsive
 ===================*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pricing-wrapper {
    width: 768px;
  }

  .pricing-table {
    width: 236px;
  }

  .table-list li {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 767px) {
  .pricing-wrapper {
    width: 420px;
  }

  .pricing-table {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .pricing-wrapper {
    width: 100%;
  }
}

.user-right {
  .pricing-table {
    width: 22.5%;
    margin-top: 25px;

    @include mob {
      width: 100%;
    }
  }
}

.pageNation {
  li {
    margin: 0;
    padding: 0;

    a {
      color: $black;
      &:hover {
        background: $blue;
        color: $white;
      }
    }
  }
}

.widthTable {
  .widthCol {
    width: 50% !important;
    word-wrap: break-word;
  }
}

.accordion {
  h1 {
    border-bottom: 1px solid #ececec;
    font-weight: 300;
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: center;
  }
  h1 span {
    display: block;
    font-size: 0.5em;
  }
  a {
    border-bottom: 1px solid #ec407a;
    color: #607d8b;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #ec407a;
    border-bottom: none;
  }
  h3 {
    font-weight: 500;
    background: $white;
    @include shadowbot;
    padding: 0 20px;
    font-size: $fsize;
    margin-bottom: 18px;
  }
  .intro {
    font-size: 1.25em;
  }
  .js .panel-title {
    margin: 0;
  }
  .panel-title a {
    border-bottom: none;
    color: #292929;
    display: block;
    padding: 1.25em 0;
    position: relative;
    text-decoration: none;
    -webkit-transition: color 200ms ease 0s;
    -moz-transition: color 200ms ease 0s;
    transition: color 200ms ease 0s;
    width: 100%;
  }
  .panel-title a .icon {
    color: #9e9e9e;
    position: absolute;
    right: 0;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
  }
  .panel-title a:hover,
  .panel-title a:focus {
    color: #37474f;
  }
  .panel-title a:hover .icon,
  .panel-title a:focus .icon {
    color: $blue !important;
  }
  .panel-title a.active {
    color: $blue !important;
  }
  .panel-title a.active .icon {
    color: $blue !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .js .accordion {
    border-bottom: 1px solid #ececec;
    margin: 2em 0;
  }
  .accordion .panel-title a {
    border-top: 1px solid #ececec;
  }
  [id^="panel-"] {
    padding-bottom: 2em;
  }
}

.faqTab {
  .resp-tab-active {
    border: none !important;
    background: $blue !important;
    color: $white;
  }
  .resp-tabs-container {
    border: none !important;
  }
}

.howitworksVideo {
  iframe {
    height: 320px;
    width: 100%;

    @include mob {
      height: 250px;
    }
  }
}

.nameMobile {
  @include mob {
    display: none;
  }
}

.newuserbtn {
  position: relative;

  @include mob {
    display: none;
  }
}

.navassbtn {
  display: none !important;

  @include mob {
    display: block !important;
    padding: 10px 20px;
    margin: 0 7px;
  }
}
