@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 27px;
}

ul,
li {
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0;
}

a {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a:hover {
  text-decoration: none !important;
}

.fblue {
  color: #045BA6;
}

.fwhite {
  color: #fff;
}

.flight {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.fpink {
  color: #e0446d;
}

.bluebtnlg {
  color: #0576d8;
  font-weight: bold;
}

.fbold, .home-banner h1,
.home-banner h2, .banner-signup .banner-btn, .bluebtn, .freetests .card-footer a.brdlink, .intro-section article h2, .section-title h3, .step-wizard .tab-content .qandans .question, .options-results .correct-opt .req-opt, .options-results .wrong-opt .req-opt, .job-col h2, .subPage .subpageHeader h1, .pricingTable thead .pricingHeaderCol h2, .pricingTable thead .pricingHeaderCol h3 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.fgray {
  color: gray;
}

.home-banner {
  background: #045BA6;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-banner {
    height: auto;
    padding-top: 80px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-banner {
    height: auto;
    padding-top: 80px;
  }
}

.home-banner:before {
  content: "";
  background: url(../img/banner-leftsky.svg) no-repeat 0 0;
  width: 450px;
  height: 200px;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -4px;
  left: -120px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-banner:before {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-banner:before {
    display: none;
  }
}

.home-banner:after {
  content: "";
  background: url(../img/banner-rightsky.svg) no-repeat 0 0;
  width: 285px;
  height: 290px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: inherit;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-banner:after {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-banner:after {
    display: none;
  }
}

.home-banner h1 {
  font-size: clamp(22px, 3vw, 45px);
  color: #fff;
}

.home-banner p {
  font-size: clamp(14px, 1vw, 17px);
  color: #fff;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.cust-container {
  width: 85%;
  margin: 0 auto;
}

.sticked {
  background: #045BA6;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.sticked .navbar-brand img {
  width: 150px;
}

header .navbar-brand {
  background: #fff;
  padding: 10px 20px;
  border-radius: 50px;
}

header .navbar-brand img {
  width: 170px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.banner-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner-signup {
    display: block;
    height: auto;
  }
}

.banner-signup .banner-input {
  border: none;
  background: white;
  width: 75%;
  border-radius: 0;
  padding-left: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner-signup .banner-input {
    width: 100%;
    height: 50px;
  }
}

.banner-signup .banner-input:focus {
  border: none;
  outline: none;
}

.banner-signup .banner-btn {
  background: #034074;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0 15px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner-signup .banner-btn {
    width: 100%;
    height: 50px;
    text-align: left;
  }
}

.banner-signup .banner-btn:hover {
  background: #0569bf;
}

.banner-signup .banner-btn:focus {
  border: none;
  outline: none;
}

.bluebtn, .freetests .card-footer a.brdlink {
  background: #045BA6;
  padding: 5px 40px;
  border-radius: 20px;
  color: #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid transparent;
  display: inline-block;
  font-size: 13px;
}

.bluebtn:hover, .freetests .card-footer a.brdlink:hover {
  background: #fff;
  color: #045BA6;
  border: 1px solid #045BA6;
}

.bluebtn:focus, .freetests .card-footer a.brdlink:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.test-header {
  background: #045BA6;
  padding: 15px 50px;
}

.test-header .navbar-brand img {
  width: 155px;
}

.test-header p {
  color: #fff;
  padding: 7px 0 0 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .test-header p {
    padding: 0;
  }
}

.intro-section {
  padding: 10px 0;
}

.intro-section article h2 {
  font-size: clamp(25px, 3vw, 35px);
  color: #045BA6;
  letter-spacing: -2px;
}

.intro-section article p {
  font-size: 16px;
}

.section-title h3 {
  font-size: 30px;
  color: #045BA6;
  letter-spacing: -2px;
}

.how-it-works {
  background: #f7fbff;
  padding: 75px 0;
}

.how-it-works .swiper-slide {
  position: relative;
  height: 390px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .how-it-works .swiper-slide {
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .how-it-works .swiper-slide {
    height: auto;
  }
}

.how-it-works .swiper-slide article {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  position: absolute;
  top: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.how-it-works .swiper-slide article p {
  color: #fff;
  margin: 0;
  padding: 0;
}

.how-it-works .swiper-pagination-bullets {
  bottom: 40px !important;
}

.how-it-works .swiper-button-prev,
.how-it-works .swiper-button-next {
  top: 42%;
}

.examway {
  padding: 75px 0;
}

.clients-home {
  padding: 0 0 75px 0;
}

.clients-home .client-logos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-home .client-logos .swiper-slide {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients-home .client-logos .swiper-slide:nth-child(even) {
  background: #f7fbff;
}

.clients-home .client-logos .swiper-slide:nth-child(odd) {
  border: 1px solid #eee;
}

.planning-section {
  padding: 70px 0;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#DEF0FF));
  background-image: linear-gradient(#fff, #DEF0FF);
  -moz-background-image: linear-gradient(#fff, #DEF0FF);
  -webkit-background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#DEF0FF));
  -webkit-background-image: linear-gradient(#fff, #DEF0FF);
  -ms-background-image: linear-gradient(#fff, #DEF0FF);
  -o-background-image: linear-gradient(#fff, #DEF0FF);
  min-height: 50px;
  padding: 50px 0;
}

footer .nav-item .nav-link {
  color: #000;
}

footer .nav-item .nav-link:hover {
  color: #045BA6;
}

footer .footer-brand {
  margin: 25px 0;
  display: inline-block;
}

footer .footer-brand img {
  width: 200px;
}

.form-control {
  font-size: 14px;
}

.sign {
  font-size: 13px;
}

.sign .container .row {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign .container .signbrand {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  display: block;
}

.sign .container .signbrand img {
  width: 190px;
}

.sign .sign-section {
  width: 350px;
  min-height: 50vh;
  background: #fff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .sign .sign-section {
    width: 100%;
  }
}

.sign .form-sign {
  width: 100%;
}

.sign .form-sign .form-group {
  width: 100%;
}

.sign .form-sign .form-group .form-control {
  border-radius: 0;
  width: 100%;
  font-size: 13px;
  height: 45px;
}

.sign .social-login {
  width: 100%;
}

.sign .social-login a {
  border: 1px solid #eee;
  padding: 7px;
  display: block;
  width: 100%;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
  font-size: 14px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.sign .social-login a:hover {
  background: #045BA6;
  color: #fff;
}

.step-wizard {
  padding: 25px 0;
}

.step-wizard .progress {
  background: rgba(0, 0, 0, 0.02);
  padding: 5px;
  height: 20px;
}

.step-wizard .progress p.qnumber {
  color: #000;
  font-size: 14px;
  padding: 5px 10px 0 0;
  width: 5%;
}

.step-wizard .progress .progress-bar {
  width: 70%;
}

.step-wizard .progress .time-test {
  font-size: 14px;
  width: 25%;
}

.step-wizard .timeheader .timekeys .icomoon {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.25);
}

.step-wizard .navbar {
  visibility: hidden;
}

.step-wizard .pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .step-wizard .pager {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .step-wizard .pager li {
    display: inline-block;
    padding: 6px;
  }
}

.step-wizard .pager li a {
  color: #000;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.step-wizard .pager li a:hover {
  background: #045BA6;
  color: #fff;
  border: 1px solid #045BA6;
}

.step-wizard .tab-content {
  padding: 25px 0;
}

.step-wizard .tab-content .qandans .qnumberinquestion {
  color: rgba(0, 0, 0, 0.5);
}

.step-wizard .tab-content .qandans .question {
  font-size: 15px;
}

.reattempresults li {
  opacity: 1 !important;
}

.options-results {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.options-results li {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.008);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: inherit;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin: 5px 0;
  opacity: 0.5;
}

.options-results li input {
  margin-right: 10px;
  margin-top: 4px;
}

.options-results li span {
  font-size: 14px;
}

.options-results .correct-opt {
  background: rgba(0, 128, 0, 0.2);
  opacity: 0.6;
  position: relative;
  cursor: inherit;
}

.options-results .correct-opt:hover {
  background: rgba(0, 128, 0, 0.2);
  opacity: 0.6;
  position: relative;
  cursor: inherit;
}

.options-results .correct-opt .req-opt {
  position: absolute;
  top: 2px;
  right: 10px;
  bottom: inherit;
  left: inherit;
  font-size: 12px;
}

.options-results .correct-opt .ans-write {
  color: rgba(0, 128, 0, 0.6);
}

.options-results .wrong-opt {
  background: rgba(255, 0, 0, 0.2);
  opacity: 0.6;
  position: relative;
  cursor: inherit;
}

.options-results .wrong-opt:hover {
  background: rgba(255, 0, 0, 0.2);
  opacity: 0.6;
  position: relative;
  cursor: inherit;
}

.options-results .wrong-opt .req-opt {
  position: absolute;
  top: 2px;
  right: 10px;
  bottom: inherit;
  left: inherit;
  font-size: 12px;
}

.options-results .wrong-opt .ans-write {
  color: rgba(255, 0, 0, 0.6);
}

.options {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.options li {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.008);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin: 5px 0;
}

.options li:hover {
  background: rgba(0, 0, 0, 0.08);
}

.options li input {
  margin-right: 10px;
  margin-top: 4px;
}

.options li span {
  font-size: 14px;
}

.select-option {
  background: rgba(0, 0, 0, 0.05) !important;
}

.queblock {
  padding-top: 50px;
}

.version-section {
  margin-bottom: 15px;
}

.version-section .panel-content {
  background: #fff;
  padding: 15px;
}

.spans-list span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

.spans-list span:after {
  content: "|";
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.6);
}

.spans-list span:last-child:after {
  content: "";
  padding: 0;
}

.accord {
  padding: 20px 0;
}

.accord h5 {
  color: #191919;
  font-size: 15px;
  padding: 15px;
}

.accord h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.accord h1 span {
  display: block;
  font-size: 0.5em;
}

.accord a {
  border-bottom: 1px solid #ec407a;
  color: #607d8b;
  text-decoration: none;
}

.accord a:hover,
.accord a:focus {
  color: #ec407a;
  border-bottom: none;
}

.accord .intro {
  font-size: 1.25em;
}

.accord .js .panel-title {
  margin: 0;
}

.accord .panel-title a {
  border-bottom: none;
  color: #292929;
  display: block;
  padding: 1em 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
}

.accord .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  top: 10px;
  font-size: 20px;
}

.accord .panel-title a:hover,
.accord .panel-title a:focus {
  color: #37474f;
}

.accord .panel-title a:hover .icon,
.accord .panel-title a:focus .icon {
  color: #ec407a;
}

.accord .panel-title a.active {
  color: #37474f;
}

.accord .panel-title a.active .icon {
  color: #ec407a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accord .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.accord .accordion .panel-title a {
  border-top: 1px solid #bfbfbf;
}

.accord [id^="panel-"] {
  padding-bottom: 1em;
}

.text-reviewaccordion .panel-title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .text-reviewaccordion .panel-title a {
    display: inline-block;
    padding: 10px;
  }
}

.canvasjs-chart-credit {
  display: none;
}

.brd_link {
  color: #000;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-bottom: none;
}

.brd_link:hover {
  background: #045BA6;
  color: #fff !important;
  border: 1px solid #045BA6;
}

small {
  font-size: 12px !important;
}

.results-block {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  padding: 25px;
}

.user-screen {
  background: #f9fcfe;
}

.user-screen .sb-topnav {
  background: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-screen .sb-topnav .dropdown-menu-right {
    right: 20px;
  }
}

.user-screen .sb-topnav .navbar-brand img {
  width: 160px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-screen .sb-topnav .navbar-brand img {
    width: 130px;
  }
}

.user-screen .sb-topnav .navbar-nav a.nav-link {
  color: #000;
}

.user-screen .sb-topnav .navbar-nav a.nav-link:hover {
  color: #045BA6;
}

.user-screen .sb-topnav .dropdown-item {
  font-size: 13px;
}

.user-screen .sb-topnav .dropdown-item:hover {
  background: #045BA6;
  color: #fff !important;
}

.user-screen .sb-sidenav-footer {
  background: #045BA6;
}

.user-screen .sb-sidenav-menu .nav-link {
  color: #fff;
  border-bottom: none;
}

.user-screen .user-right .breadcrumb {
  background: none;
}

.user-screen .user-right .breadcrumb li a {
  color: #000;
}

.user-screen .form-group {
  margin: 10px 0;
}

.user-screen .form-group label {
  margin-bottom: 0;
  font-size: 14px;
}

.user-screen .form-group .form-control {
  height: 40px;
  border-radius: 0;
  font-size: 14px;
}

.user-screen .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.testItemlbg {
  background: #f2f9ff;
}

::-webkit-input-placeholder {
  font-size: 13px;
}

:-ms-input-placeholder {
  font-size: 13px;
}

::-ms-input-placeholder {
  font-size: 13px;
}

::placeholder {
  font-size: 13px;
}

.freetests .swiper-pagination {
  bottom: 50px !important;
}

.freetests .card {
  margin: 14px 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid #bfbfbf !important;
  min-height: 375px;
  max-height: 375px;
}

.freetests .card .label {
  font-size: 11px;
  color: #fff;
  border-radius: 10px;
  padding: 3px 10px;
}

.freetests .card .label-primary {
  background: #5cb85c;
}

.freetests .card .label-info {
  background: #f0ad4e;
}

.freetests .card .h6 {
  padding-top: 5px;
}

.freetests .card:hover {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  border: 1px solid transparent;
}

.freetests .card-footer {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.freetests .card-footer a.brdlink {
  width: 100%;
  color: #000;
  text-align: center;
  color: #fff;
}

.freetests .card-footer a.brdlink:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.test-item {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.test-item:hover {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  border: none;
}

.rowp {
  border-bottom: 1px dotted gray;
  padding: 2px 0;
  margin-bottom: 7px;
  font-size: 13px;
}

.job-col {
  border: 1px solid #e6e6e6;
  padding: 20px;
  font-size: 14px;
  margin-bottom: 20px;
  min-height: 220px;
  background: #fff;
}

.job-col .brand img {
  height: 55px;
}

.job-col:hover {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.job-col h2 {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.job-col h2 a {
  color: #000;
}

.job-col h2 a:hover {
  color: #045BA6;
}

.job-col small {
  color: gray;
}

.job-col .headin {
  margin: 0 auto;
}

.job-col .nav {
  padding: 15px 0;
}

.job-col .nav a {
  padding-right: 10px;
}

.job-col .nav .icomoon {
  font-size: 15px;
}

.job-col .salary {
  padding: 15px 0 0 0;
  margin: 0;
}

.dataTables_filter {
  float: right;
}

.dataTables_wrapper .table thead {
  background: #045BA6;
  color: #fff;
}

.dataTables_wrapper .pagination {
  float: right;
}

.actions-icons a {
  padding: 5px;
  display: inline-block;
}

.actions-icons a:hover .icomoon {
  color: #045BA6;
}

.actions-icons a .icomoon {
  font-size: 18px;
  color: #000;
}

.sm-thumb {
  width: 75px;
  height: 75px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  border-radius: 50%;
}

.exam-View {
  padding: 20px;
  border: 1px solid #ccc;
}

.list-items li {
  padding-bottom: 10px;
  position: relative;
}

.list-items li:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #045BA6;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: inherit;
  bottom: inherit;
  left: -10px;
}

.submissionRow {
  background: #fff;
  padding: 20px;
}

.form-check input[type="checkbox"] {
  margin-top: 8px;
}

.form-check input[type="radio"] {
  margin-top: 8px;
}

.whitebg {
  background: #fff;
}

.dataTables_wrapper {
  background: #fff;
  padding: 15px;
}

.marksTable .sticky-top {
  top: 60px;
}

.table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

.subPage {
  min-height: 600px;
}

.subPage .subpageHeader {
  min-height: 350px;
  background: #045BA6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpageHeader {
    min-height: 200px;
  }
}

.subPage .subpageHeader h1 {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpageHeader h1 {
    padding-top: 50px;
    font-size: 25px;
  }
}

.subPage .subpageHeader p {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpageHeader p {
    display: none;
  }
}

.subPage .mainPagae {
  padding: 25px 0;
}

.pricingTable thead {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0019A1), to(#000D51));
  background-image: linear-gradient(#0019A1, #000D51);
  -moz-background-image: linear-gradient(#0019A1, #000D51);
  -webkit-background-image: -webkit-gradient(linear, left top, left bottom, from(#0019A1), to(#000D51));
  -webkit-background-image: linear-gradient(#0019A1, #000D51);
  -ms-background-image: linear-gradient(#0019A1, #000D51);
  -o-background-image: linear-gradient(#0019A1, #000D51);
  min-height: 350px;
  color: #fff;
  text-align: center;
}

.pricingTable thead th {
  border: none;
  width: 25%;
  vertical-align: middle;
}

.pricingTable thead .pricingHeaderCol {
  width: 100%;
  padding: 75px 0;
}

.pricingTable thead .pricingHeaderCol h2 {
  font-size: 25px;
  color: #fff;
}

.pricingTable thead .pricingHeaderCol h3 {
  font-size: 20px;
}

.pricingTable thead .pricingHeaderCol .bluebtnlg {
  border: 1px solid #fff;
  padding: 12px 25px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 65px;
  text-transform: uppercase;
}

.pricingTable thead .pricingHeaderCol .bluebtnlg:hover {
  background: #045BA6;
  color: #fff;
  border: 1px solid #045BA6;
}

.rowListGroup .list-group {
  min-height: 300px;
}

.rowListGroup .list-group li.list-group-item {
  text-align: center;
}

.pricintTBody td {
  text-align: center;
  border: 1px solid lightblue;
}

.rtContact {
  background: #045BA6;
  min-height: 500px;
  padding: 30px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rtContact {
    min-height: auto;
    margin-top: 20px;
  }
}

.rtContact .table {
  color: #fff;
}

.pricing-table-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.6em;
  color: #fff;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table-title a {
  font-size: 0.6em;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

/** ========================
 * Contenedor
 ============================*/
.pricing-table {
  margin: 0 10px;
  text-align: center;
  width: 250px;
  float: left;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.pricing-table:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.pricing-table .pricing-title {
  color: #fff;
  background: #045BA6;
  padding: 20px 0;
  font-size: 1.2em;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table .price {
  background: #000;
  font-size: 1.3em;
  font-weight: 700;
  padding: 20px 0;
  color: #fff;
}

.pricing-table .price sup {
  font-size: 0.6em;
  position: relative;
  left: 5px;
  top: 0;
}

.pricing-table .table-list {
  background: #fff;
  color: #403d3a;
  padding: 0;
  min-height: 210px;
}

.pricing-table .table-list li {
  font-size: 1em;
  padding: 12px 8px;
}

.pricing-table .table-list li span {
  font-weight: 400;
}

.table-list li:nth-child(2n) {
  background: #f0f0f0;
}

.table-buy {
  background: #fff;
  padding: 15px;
  text-align: center;
}

.table-buy p {
  float: left;
  color: #37353a;
  font-weight: 700;
  font-size: 2.4em;
}

.table-buy p sup {
  font-size: 0.5em;
  position: relative;
  left: 5px;
}

.table-buy .pricing-action {
  float: right;
  color: #fff;
  background: #e95846;
  padding: 10px 16px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 1.4em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
  background: #cf4f3e;
}

.recommended .table-buy .pricing-action:hover {
  background: #228799;
}

/** ================
 * Responsive
 ===================*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pricing-wrapper {
    width: 768px;
  }
  .pricing-table {
    width: 236px;
  }
  .table-list li {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 767px) {
  .pricing-wrapper {
    width: 420px;
  }
  .pricing-table {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .pricing-wrapper {
    width: 100%;
  }
}

.user-right .pricing-table {
  width: 22.5%;
  margin-top: 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-right .pricing-table {
    width: 100%;
  }
}

.pageNation li {
  margin: 0;
  padding: 0;
}

.pageNation li a {
  color: #000;
}

.pageNation li a:hover {
  background: #045BA6;
  color: #fff;
}

.widthTable .widthCol {
  width: 50% !important;
  word-wrap: break-word;
}

.accordion h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.accordion h1 span {
  display: block;
  font-size: 0.5em;
}

.accordion a {
  border-bottom: 1px solid #ec407a;
  color: #607d8b;
  text-decoration: none;
}

.accordion a:hover,
.accordion a:focus {
  color: #ec407a;
  border-bottom: none;
}

.accordion h3 {
  font-weight: 500;
  background: #fff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  padding: 0 20px;
  font-size: 15px;
  margin-bottom: 18px;
}

.accordion .intro {
  font-size: 1.25em;
}

.accordion .js .panel-title {
  margin: 0;
}

.accordion .panel-title a {
  border-bottom: none;
  color: #292929;
  display: block;
  padding: 1.25em 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
}

.accordion .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.accordion .panel-title a:hover,
.accordion .panel-title a:focus {
  color: #37474f;
}

.accordion .panel-title a:hover .icon,
.accordion .panel-title a:focus .icon {
  color: #045BA6 !important;
}

.accordion .panel-title a.active {
  color: #045BA6 !important;
}

.accordion .panel-title a.active .icon {
  color: #045BA6 !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accordion .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.accordion .accordion .panel-title a {
  border-top: 1px solid #ececec;
}

.accordion [id^="panel-"] {
  padding-bottom: 2em;
}

.faqTab .resp-tab-active {
  border: none !important;
  background: #045BA6 !important;
  color: #fff;
}

.faqTab .resp-tabs-container {
  border: none !important;
}

.howitworksVideo iframe {
  height: 320px;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .howitworksVideo iframe {
    height: 250px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .nameMobile {
    display: none;
  }
}

.newuserbtn {
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .newuserbtn {
    display: none;
  }
}

.navassbtn {
  display: none !important;
}

@media (min-width: 320px) and (max-width: 575px) {
  .navassbtn {
    display: block !important;
    padding: 10px 20px;
    margin: 0 7px;
  }
}
/*# sourceMappingURL=style.css.map */